<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="V_Shiva.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <V_Shiva.My.MySettings>
            <setting name="email" serializeAs="String">
                <value />
            </setting>
            <setting name="key" serializeAs="String">
                <value />
            </setting>
            <setting name="name" serializeAs="String">
                <value />
            </setting>
            <setting name="image" serializeAs="String">
                <value />
            </setting>
            <setting name="status" serializeAs="String">
                <value />
            </setting>
        </V_Shiva.My.MySettings>
    </userSettings>
</configuration>